<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Okomo - Creative Portfolio Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Open Sans', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	<!-- Google font (font-family: 'Poppins', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<div class="fakeloader"></div>

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<!-- Header -->
		<header class="header-area header-style-2">
			<div class="header-logo">
				<a href="index.html">
					<img src="images/logo/logo-1.png" alt="header logo">
				</a>
			</div>
			<a href="index.html" class="back-to-root-button">GO BACK TO HOME
				<i class="ti-close"></i>
			</a>
		</header>
		<!--// Header -->

		<div class="cr-breadcrumb-area-wrapper bg-breadcrumb-1">
			<div class="cr-breadcrumb-area-wrapper-inner">
				<!-- Breadcrumb Area -->
				<div class="cr-breadcrumb-area bg-breadcrumb-3" data-black-overlay="5">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-12">
								<div class="cr-breadcrumb cr-breadcrumb-2 text-center">
									<h1>Say About What You Just Read !</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--// Breadcrumb Area -->
			</div>
		</div>

		<!-- Page Content -->
		<main class="page-content page-content-boxed">
			<div class="blog-details-wrap section-padding-md">
				<div class="container">

					<!-- Blog Details Content -->
					<div class="blog-details">
						<h4 class="blog-details-title"><span class="dropcap">D</span> esign is much more than simply to assemble, to order, omeaning, to illuminate, simplify, to clarify, to modify, to dignify, to drama.</h4>
						<p>Since I share a passion for all these individual areas, I follow various other blogs sharing this great content, and love to read them when I get a minute. We’ve update the list of incredible motivational blogs to follow, for the year 2018! We first created this list back in 2015, and it’s now been updated. There’s a couple of new entries on the list this year, and we dropped off some of the blogs that are no longer being updated. Check out an awesome collection of the ‘Top 25 Motivational Blogs For 2018’.</p>
						<div class="plyr__video-embed youtube-video-player">
							<iframe src="https://www.youtube.com/embed/YB4AvOsgL9o?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
						</div>
						<div class="blog-details-metacontent">
							<h6 class="blog-item-date"><span class="date">10</span> th <span class="month">March</span></h6>
							<h6 class="blog-item-postby">By : <a href="#">Admin</a></h6>
							<ul class="blog-item-meta">
								<li>Like : <a href="#"><i class="ti ti-heart"></i> 05</a></li>
								<li>Comment : <a href="#"><i class="ti ti-comment"></i> 08</a></li>
							</ul>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumSs und omnis iste natus error sitbl voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, </p>
						<blockquote class="blockquote-2">Iusto doloremque similique, etiam mi incididunt, mi sem nisl elit, bLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci</blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat</p>
						<img src="images/blog/blog-details/blog-content-image-1.jpg" alt="blog image">
						<img src="images/blog/blog-details/blog-content-image-2.jpg" alt="blog image">
						<img src="images/blog/blog-details/blog-content-image-3.jpg" alt="blog image">
						<p>I know it seems hard sometimes but remember one thing. Through every dark night, there’s a bright day after that. So no matter how hard it get, stick your chest out, keep ya head up…. and handle it. <br> Addicted 2 Success is a blog that primarily focuses on success advice, but the majority of the content is motivational, and now having reached 110 million views worldwide, it’s become one of the most popular motivational blogs in the past 6 years.</p>
						<div class="blog-details-share-tags">
							<div class="blog-item-share">
								<button class="blog-item-share-toggle"><i class="ti ti-share"></i> Share</button>
								<div class="blog-item-social-links social-links social-links-rounded-colored">
									<ul>
										<li class="facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
										<li class="twitter"><a href="#"><i class="ti ti-twitter"></i></a></li>
										<li class="google"><a href="#"><i class="ti ti-google"></i></a></li>
										<li class="linkedin"><a href="#"><i class="ti ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="blog-details-tags">
								Tags: 
								<ul>
									<li><a href="#">Graphic</a></li>
									<li><a href="#">Web</a></li>
									<li><a href="#">Photography</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">Motion</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--// Blog Details Content -->

					<div class="blog-details-navigation">
						<a class="navigation-prev" href="#"><i class="ti ti-angle-double-left"></i> Prev Post</a>
						<a class="navigation-next" href="#">Next Post <i class="ti ti-angle-double-right"></i></a>
					</div>

					<!-- Blog Details Author -->
					<div class="blog-details-author-wrap">
						<div class="row justify-content-center">
							<div class="col-lg-6">

								<div class="blog-details-author">
									<div class="blog-details-author-thumb">
										<img src="images/blog/blog-details/blog-details-author-image.jpg" alt="Blog Details Author Thumb">
									</div>
									<div class="blog-details-author-quote">
										<p>My mama always used to tell me: ‘If you can’t find somethin’ to live for, you best find somethin’ to die for.</p>
									</div>
									<div class="blog-details-author-content">
										<h6>AYESHA HOQUE</h6>
										<div class="social-links social-links-rounded-colored">
											<ul>
												<li class="dribbble"><a href="#"><i class="ti ti-dribbble"></i></a></li>
												<li class="linkedin"><a href="#"><i class="ti ti-linkedin"></i></a></li>
												<li class="pinterest"><a href="#"><i class="ti ti-pinterest"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!--// Blog Details Author -->

					<!-- Blog Details Commentlist -->
					<div class="blog-details-commentlist-wrap">
						<div class="row">
							<div class="col-lg-9">
								<div class="blog-details-commentlist">
									<h5 class="small-title">Comment’s</h5>
			
									<!-- Single Comment -->
									<div class="single-comment">
										<div class="single-comment-thumb">
											<img src="images/blog/blog-details/blog-details-commenter-1.png" alt="blog commenter">
										</div>
										<div class="single-comment-content">
											<h6>Ariana Grande</h6>
											<span>22 March 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipis icing eltempor incididunt labore et dolore magna aliqua. Ut enim adm veniam, quis nostrud exercitation.</p>
										</div>
									</div>
									<!--// Single Comment -->
			
									<!-- Single Comment -->
									<div class="single-comment reply">
										<div class="single-comment-thumb">
											<img src="images/blog/blog-details/blog-details-commenter-2.png" alt="blog commenter">
										</div>
										<div class="single-comment-content">
											<h6>Lucy Hale</h6>
											<span>23 March 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipis icing eltempor incididunt labore et dolore magna aliqua. Ut enim adm veniam, quis nostrud.</p>
										</div>
									</div>
									<!--// Single Comment -->
			
								</div>
							</div>
						</div>
					</div>
					<!--// Blog Details Commentlist -->

					<!-- Blog Details Commentbox -->
					<div class="blog-details-commentbox-wrap">
						<div class="row">
							<div class="col-lg-9">
								<h5 class="small-title">Post a comment</h5>
								<div class="commentbox">
									<form action="#">
										<textarea cols="30" rows="8" placeholder="Comment"></textarea>
										<input type="text" placeholder="Name*">
										<input type="email" placeholder="Email*">
										<input type="submit" value="Submit">
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--// Blog Details Commentbox -->

				</div>
			</div>

		</main>
		<!--// Page Content -->


	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plyr.min.js"></script>
	<script src="js/active.js"></script>
	<script src="js/scripts.js"></script>

</body>

</html>