<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Okomo - Creative Portfolio Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Open Sans', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	<!-- Google font (font-family: 'Poppins', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<div class="fakeloader"></div>

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

        <!-- Header -->
        <header class="header-area header-style-2">
            <div class="header-logo">
                <a href="index.html">
                    <img src="images/logo/logo-1.png" alt="header logo">
                </a>
            </div>
            <a href="index.html" class="back-to-root-button">GO BACK TO HOME<i class="ti-close"></i></a>
        </header>
        <!--// Header -->

        <!-- Page Content -->
        <main class="page-content">
            
            <!-- Portfolio Details -->
            <div class="portfolio-details-area section-padding-bottom-lg">

                <!-- Portfolio Details Head -->
                <div class="portfolio-head">
                    <div class="portfolio-head-thumb">
                        <img src="images/portfolio/portfolio-details-head-image-1.jpg" alt="portfolio image">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-12">
                                <div class="portfolio-head-content">
                                    <h5>BRANDING</h5>
                                    <h2><span>Efective Corporate</span> Profile Design</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Portfolio Details Head -->

                <!-- Portfolio Details Content -->
                <div class="portfolio-details-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portfolio-details-content-inner">
                                    <h5 class="small-title">Portfolio Details</h5>
                                    <p>This is an activity that should be used primarily in the lower levels of language classes, because it will be most beneficial to lower-level speakers. Higher-level speakers should be having unpredictable conversations in the TL, where neither the questions nor the answers are scripted or expected. If this activity were used with higher-level speakers it wouldn't have many benefits. This is an activity that should be used primarily in the lower levels of language classes, because it will be most beneficial to lower-level speakers. Higher-level speakers should be having unpredictable conversations in the TL, where neither the questions.</p>
                                    <div class="portfolio-details-info">
                                        <ul>
                                            <li>
                                                <h6>CLIENT</h6>
                                                <p>John Doe</p>
                                            </li>
                                            <li>
                                                <h6>C. E .O OF DESI</h6>
                                                <p>Santa Cruz</p>
                                            </li>
                                            <li>
                                                <h6>CATEGORY</h6>
                                                <p>Graphic Design</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-end mt-5">
                        <div class="col-lg-6">
                            <img src="images/portfolio/portfolio-content-image-1.jpg" alt="Portfolio Content Image">
                        </div>
                        <div class="col-lg-6">
                            <img src="images/portfolio/portfolio-content-image-2.jpg" alt="Portfolio Content Image">
                        </div>
                    </div>
                </div>
                <!--// Portfolio Details Content -->

                <!-- Portfolio Details Gallery -->
                <div class="container">
                    <div class="portfolio-gallery">
                        <div class="portfolio-gallery-thumb">
                            <img src="images/portfolio/portfolio-gallery-image-1.jpg" alt="portfolio gallery thumb">
                        </div>
                        <div class="portfolio-gallery-thumb">
                            <img src="images/portfolio/portfolio-gallery-image-2.jpg" alt="portfolio gallery thumb">
                        </div>
                    </div>
                </div>
                <!--// Portfolio Details Gallery -->

                <!-- Portfolio Details Video -->
                <div class="container portfolio-video">
                    <div class="plyr__video-embed youtube-video-player">
                        <iframe src="https://www.youtube.com/embed/2XX5zDThC3U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
                    </div>
                </div>
                <!--// Portfolio Details Video -->

                <!-- Portfolio Details Footer -->
                <div class="portfolio-details-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="portfolio-details-share">
                                    <h6>Share it on : </h6>
                                    <div class="social-links social-links-colored">
                                        <ul>
                                            <li class="dribbble"><a href="#"><i class="ti ti-dribbble"></i></a></li>
                                            <li class="facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="ti ti-google"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="portfolio-details-meta">
                                    <ul>
                                        <li><a href="#"><i class="ti ti-heart"></i> Like : 05</a></li>
                                        <li><a href="#"><i class="ti ti-comments"></i> Comments : 09</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--// Portfolio Details Footer -->

            </div>
            <!--// Portfolio Details -->

            <!-- Portfolio Navigation -->
            <div class="portfolio-navigation-area bg-grey section-padding-xs">
                <div class="container"  >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portfolio-navigation">
                                <a class="portfolio-navigation-prev" href="#"><i class="ti ti-angle-double-left"></i>View Prev Project</a>
                                <a class="portfolio-navigation-next" href="#">View Next Project<i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Portfolio Navigation -->

        </main>
        <!--// Page Content -->


    </div>
    
    
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plyr.min.js"></script>
	<script src="js/active.js"></script>
	<script src="js/scripts.js"></script>

</body>

</html>